/* generals popup div */
.popup-container {
    z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
    margin-top: -200px;
    margin-left: -364px;
}

/* direct child of popup-container */
.popup-container > button {
    background-color: #000000;
    color:#dddddd;
    font-weight: bold;
    font-size: 12px;
    height: 25px;

    position: absolute;
    right: 0;
    top: -25px;
}

.popup-container > a {
    text-decoration: none !important;
    color: inherit;
}

/* div of popup-content */
.popup-content {
	width: 728px;
	height: 400px;
    background-image: url("./Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}